<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Book-Mapper">
	
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and publisher like '%'||#{keyword}||'%'			
		</if>

	</sql>
	<select id="selectSearchBookList" resultType="book">
	    select 
	    	rownum, a.* 
        from(
    	    select
				b.* ,(select cate_name from category where cate_no=b.cate_no) cate_name,
        		case when b.book_status=0 then null
             		 when b.book_status=1 then (select max(rent_end) from book_rent where book_no=b.book_no)
        		end rent_end
			from book b
			where b.book_no is not null
			<include refid="search" />
			order by b.book_no desc
        ) A
	</select>
	
	<select id="selectSearchBookListCount" resultType="int">
		select
		count(*) 
		from book
		where book_no is not null
		<include refid="search" />
		order by book_no desc
	</select>
	
	<update id="updateBookStatus" parameterType="book">
		update book 
		set 
		book_status=#{book_status}		
		where book_no=#{book_no}
	</update>
	
	<update id="insertBook" parameterType="book">
		/* insertBook 책 목록 추가*/
		insert into book(book_no,title, writer,ori_title,translator,publisher,publishing_date,book_intro,cate_no,book_index,writer_intro)
        values(
	       	concat('EM',LPAD(seq_book.nextval,6,0)), 
	       	#{title}, 
	       	#{writer}, 
	       	#{ori_title}, 
	       	#{translator}, 
	       	#{publisher}, 
	       	#{publishing_date}, 
	       	#{book_intro}, 
	       	#{cate_no}, 
	       	#{book_index}, 
	       	#{writer_intro}
        )
	</update>	
	
	<select id="selectCateList" resultType="book">
	 	select * from category order by cate_no
	</select>
</mapper>








