<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyList-Mapper">
	
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and c.title like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'w'.toString()">
			and c.writer like '%'||#{keyword}||'%'			
		</if>

	</sql>
	<select id="selectRentListByID" resultType="rent" parameterType="str">
	/* selectRentListByID 아이디로 대여이력 가져오기*/
	    select 
	    	rownum, a.* 
        from(
        	select b.*, c.title, c.writer, c.book_status
        	from book_rent b, book c where b.book_no=c.book_no and b.id = #{id}
			<include refid="search" />
			order by to_number(b.rent_no) desc
        ) A
	</select>
	
	<select id="selectRentListByIDCount" resultType="int" parameterType="str">
	/* selectRentListByMemIDCount 아이디로 대여이력 갯수 가져오기*/
		select count(b.rent_no)
        from book_rent b, book c where b.book_no=c.book_no and b.id = #{id}
		<include refid="search" />
	</select>
	
	<select id="selectRentDetail" resultType="rent">
		select a.*,
		       b.real_end, 
		       b.id
		 from book a, book_rent b
		where a.book_no = b.book_no and
		      b.rent_no = #{rent_no}
			</select>
	
	<update id="updateRentStatus" >
		update book_rent
		   set real_end = sysdate
		 where rent_no = #{rent_no}
	</update>
	
	<update id="updateBookStatus">
		update book
		   set book_status = '0'
		 where book_no=#{book_no}
	</update>
	
</mapper>








